{% extends "base.html" %}

{% block title %}
Listado de proyectos de {{ context.user }}
{% endblock title %}


{% block content %}

<h1 class="mb-4">Mis Proyectos</h1>
<a href="{% url 'crear_proyecto' %}" class="btn btn-success mb-4">Crear nuevo proyecto</a>

<ul class="list-group">
{% for p in proyectos %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'detalle_proyecto' p.id %}">{{ p.nombre }}</a>
        <div>
            <a href="{% url 'detalle_proyecto' p.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock content %}


